fakedonut/build/
addon/src/resources/assets/dihclient/friend/
dist/dihclient-v8.12.1+mc1.21.11.jar
dist/dihclient-v8.12.2+mc1.21.11.jar
dist/dihclient-v8.13.0+mc1.21.11.jar
dist/dihclient-v8.14.0+mc1.21.11.jar
dist/dihclient-v8.15.0+mc1.21.11.jar
dist/dihclient-v8.16.0+mc1.21.11.jar
dist/dihclient-v8.17.0+mc1.21.11.jar
dist/dihclient-v8.18.0+mc1.21.11.jar
dist/dihclient-v8.19.0+mc1.21.11.jar
dist/dihclient-v8.20.0+mc1.21.11.jar
dist/dihclient-v8.20.1+mc1.21.11.jar
dist/dihclient-v8.21.0+mc1.21.11.jar
dist/dihclient-v8.21.1+mc1.21.11.jar
dist/dihclient-v8.22.0+mc1.21.11.jar
dist/dihclient-v8.22.1+mc1.21.11.jar
dist/dihclient-v8.22.2+mc1.21.11.jar
dist/dihclient-v8.22.3+mc1.21.11.jar
dist/dihclient-v8.23.0+mc1.21.11.jar
dist/dihclient-v8.24.0+mc1.21.11.jar
